.page-loader{
    z-index: 1000;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    .loader-holder {
      margin-top: -5px;
  
      .loader {
        height: 12px;
        width: 12px;
      
        &.text-primary {
          color: #034483 !important;
        }
      }
    }
  }
  
  .page-loader-half{
    z-index: 1000;
    margin-top: 25%;
    // position: fixed;
    // background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    .loader-holder {
      margin-top: -5px;
  
      .loader {
        height: 12px;
        width: 12px;
      
        &.text-primary {
          color: #034483 !important;
        }
      }
    }
  }
  