/*=========================================================================================
	File Name: table.scss
	Description: table  functionality.
	----------------------------------------------------------------------------------------
	Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.text-link {
	color: #79DAE8;
	text-decoration: underline;
	cursor: pointer;
}